
 

 h1.display-4{font-size: 160px;
    text-align: center;
    font-weight: bold ;
    color: black;} 

h1.display-5{font-size: 45px;
    text-align: center;
    color: black;}
body{font-family:Monospace ;
}
div.list-group { font-family:Monospace ; } 
        
  
  button.d-flex{text-align: center;}
 button.btn {font-size :25px;
color: black;}
 button.btn:hover {background-color: rgb(135, 196, 193);}
  h5{font-size :21px;
    text-align: center;
    font-weight: bold 
}
